 {% extends 'temp.html' %}
 {% block 'contentmain' %}

<html>
<head><title>{{ objects.title }}</title></head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div style="margin-top:100px;" align="center">
<h2 class="blog-post-title" style="text-align: center; font-size: 90px; text-transform: uppercase; margin-bottom:0px;"><b>{{ objects.title }}</b></h2>
<h3 style="margin-top:0px;">-by Gaurav Kulkarni on {{ objects.dateshow.day }}, {{ objects.dateshow|date:"F" }} {{ objects.dateshow.year }}</h3>
<div align="left" style="margin-top:100px; width:900px;">
<p><h3>{{ objects.content }}</h3><p></p><br>
</p>
</div>
</body>
</html>
{% endblock %}